:root {
	--clr-text: hsl(47, 100%, 77%);
	--clr-active: hsl(0, 100%, 69%);
	--clr-bg-main: hsl(0, 52%, 50%);
	--clr-bg-panel: hsl(0, 64%, 55%);
	--clr-disabled: hsl(0, 83%, 37%);

	--ff-base: 'Press Start 2P', system-ui;
}

*,
*::after,
*::before {
	box-sizing: border-box;
}

* {
	margin: 0;
}

input,
button,
textarea,
select {
	font: inherit;
}

@font-face {
	font-family: 'Press Start 2P';
	src: url("../fonts/PressStart2P.woff2") format('woff2-variations');
	font-weight: 100 900;
}

body {
	width: 250px;
	height: 150px;
	padding: 1em 1.5em;

	font-family: var(--ff-base);

	background-color: var(--clr-bg-main);
}

label,
input {
	cursor: pointer;
}

label {
	color: var(--clr-text);
	font-size: 0.5rem;
}

.flex {
	display: flex;
	flex-direction: column;
}

.panel {
	background-color: var(--clr-bg-panel);
	border: solid black 1px;
	padding: 1em;
	gap: 0.5em;
}

.content {
	gap: 1.5em;
}
