:root {
	--clr-text: hsl(47, 100%, 77%);
	--clr-active: hsl(0, 100%, 69%);
	--clr-bg-main: hsl(0, 52%, 50%);
	--clr-bg-panel: hsl(0, 64%, 55%);
	--clr-disabled: hsl(0, 83%, 37%);

	--ff-base: 'Press Start 2P', system-ui;
}

@font-face {

	font-family: 'Press Start 2P';
	src: url("../fonts/PressStart2P.woff2") format('woff2-variations');
	font-weight: 100 900;
}

*,
*::after,
*::before {
	box-sizing: border-box;
}

* {
	margin: 0;
}

input,
button,
textarea,
select {
	font: inherit;
}


body {
	width: 250px;
	height: 150px;
	padding: 1em 1.5em;

	font-family: var(--ff-base);

	background-color: var(--clr-bg-main);
	border: 1px solid var(--clr-text);
}

input {
	cursor: pointer;
}

label {
	color: var(--clr-text);
	font-size: 0.5rem;
}

.flex {
	display: flex;
	flex-direction: column;
}

.panel {
	background-color: var(--clr-bg-panel);
	background-image: url(../images/panel-innerlines.svg);
	border: solid black 1px;
	padding: 1em;
	gap: 0.5em;
}

.switch {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 1em;
}

.content {
	gap: 1.5em;
}

.checkbox {
	overflow: hidden;
	position: absolute;
	height: 1px;
	widows: 1px;
}

.slider {
	background-image: url(../images/deactivated-switch.svg);
	cursor: pointer;
	display: block;
	width: 17.5px;
	height: 10px;
}

input:checked + .slider {
	background-image: url(../images/active-switch.svg);
}
